.cookie-settings-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.cookie-settings-box.show {
  opacity: 1;
  visibility: visible;
}

.cookie-settings-box.hide {
  opacity: 0;
  visibility: hidden;
}


.cookie-settings-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  position: relative; 
  animation: slideIn 0.5s ease-in-out;
}

#cs-h1 {
  margin-bottom: 10px;
}

#cs-p {
  margin-bottom: 20px;
}

.cookie-settings-content label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
}

.cookie-settings-content input[type="checkbox"] {
  margin-right: 10px; 
  width: 20px;
  height: 20px; 
}

.cookie-settings-content button {
    padding: 12px 25px;  
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;  
    border-radius: 25px;  
    background-color: #1abc9c;  
    color: white;  
    transition: background-color 0.3s ease;  
}

.cookie-image {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1100; 
  color: #333;
}

.close-button:hover {
  color: red; 
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.cookies-policy {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.cookies-policy a {
  color: #007bff;
  text-decoration: none;
}
