body {
    background-color: white; 
}

.help-page {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding-left: 20px; 
    background-color: white; 
}

#help-h4 {
    font-size: 250%; 
    color: transparent; 
    background: linear-gradient(to right, #10182f, #1abc9c); 
    -webkit-background-clip: text; 
    background-clip: text; 
    margin-top: 10px;
}

.help-page-gradient-line {
    height: 3px;
    width: 14%;
    background: linear-gradient(to right, white, #ff7e5f, #8a2be2, #ffa500, #adff2f, white);
    margin-bottom: 25px;
    margin-left: -20px;
}

#help-p { 
    color: black; 
}

#help-container {
    margin-left: -90px;
}

#help-section {
    margin-bottom: -10px;
}

#help-h2 {
    font-size: 1.6em; 
    color: #1abc9c;
    margin-top: -30px;
}

#help-h3 {
    font-size: 1.2em; 
    margin-top: 10px;
    list-style-type: disc; 
    margin-left: 20px; 
    display: list-item;
    color: #10182f; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li::marker {
    margin-bottom: 10px; 
}

a {
    color: #10182f; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

.help-page-link {
    color: blue;
    text-decoration: none; 
    cursor: pointer;
}

.help-page-link:hover {
    text-decoration: underline; 
}

.help-page-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-page-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative; 
}

.help-page-close-button {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
}

.contact-email,
.contact-phone {
    color: black;
    font-weight: bold;
}

@media (max-width: 1024px) {
    
    #help-h4 {
        font-size: 200%; 
    }

    #help-h2 {
        font-size: 1.4em; 
    }

    #help-h3 {
        font-size: 1.1em; 
    }

    .help-page-gradient-line {
        width: 30%; 
    }

    .help-page-modal {
        width: 350px; 
    }

    #help-container {
        margin-left: 0; 
    }


}

@media (max-width: 768px) {
    
    body {
        padding: 10px; 
    }

    #help-h4 {
        font-size: 150%; 
    }

    #help-h2 {
        font-size: 1.2em; 
    }

    #help-h3 {
        font-size: 1em; 
    }

    .help-page-gradient-line {
        width: 50%; 
    }

    .help-page-modal {
        width: 300px; 
    }

    .help-page-close-button {
        font-size: 18px; 
    }

    ul {
        padding-left: 15px; 
    }

    #help-container {
        margin-left: 0; 
    }

    .help-page {
        padding-left: 10px; 
    }
}
